<!-- src/main/resources/templates/main/index.html -->
<div th:fragment="content">
  <div class="container my-5">


    <div class="container my-5 text-center">
      <h2 class="mb-3">📍 <span id="location-title">상봉동</span>에서 아이폰 찾고 계신가요?</h2>

      <div class="d-flex justify-content-center align-items-center mt-4 gap-2">
        <!-- 위치 표시 버튼 -->
          <div class="d-flex justify-content-center mt-3">
            <button id="location-btn"
                    class="btn btn-dark rounded-pill px-4 py-2"
                    data-bs-toggle="modal" data-bs-target="#locationModal">
            <span id="current-location">위치 찾는 중...</span>
            </button>
          </div>

        <input type="text" class="form-control w-50" placeholder="검색어를 입력해주세요">
        <button class="btn btn-dark">🔍</button>
      </div>
    </div>

    <!-- 카테고리 카드 시작 -->
    <div class="container my-5">
      <div class="row row-cols-2 row-cols-md-4 g-4 justify-content-center">
        <div class="col" th:each="category : ${mainCategories}">
          <div class="card text-center shadow-sm h-100">
            <div class="card-body">
              <h5 class="card-title" th:text="${category.ctgName}">카테고리명</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 카테고리 카드 끝 -->
  </div>
</div>




<script th:src="@{/js/render.js}"></script>

