<!-- status_badge.html -->
<div th:fragment="badges(status, isDelivery, isBest, price)"
     class="d-flex flex-column gap-1">
	 
  <!-- 판매중 -->
  <!-- <div th:if="${status == 'ONSALE'}"
       class="badge bg-success text-white px-2 py-1 small mb-1">
    판매중
  </div> -->

  <!-- BEST -->
  <div th:if="${isBest}"
       class="badge bg-danger text-white px-2 py-1 small mb-1">
    BEST
  </div>

  <!-- 택배 가능 -->
  <div th:if="${isDelivery}"
       class="badge text-white px-2 py-1 small mb-1"
       style="background-color: #C19A6B;">
    택배 가능
  </div>

  <!-- 나눔 -->
  <div th:if="${price == 0 or price == null}"
       class="badge text-white px-2 py-1 small"
       style="background-color: #f06292;">
    나눔
  </div>

</div>