/* chatRoom.html의 CSS */
.chat-img-wrapper {
	width: 100%; 
	margin-bottom: 0.25rem;
	display: flex;
}
.text-end .chat-img-wrapper {
  justify-content: flex-end; /* 오른쪽 정렬 */
}
.text-start .chat-img-wrapper {
  justify-content: flex-start; /* 왼쪽 정렬 */
}
/* 통일감 있게 이미지/텍스트 블럭은 margin-bottom으로 구분 */
.chat-img-wrapper, .chat-bubble {
  margin-bottom: 0.25rem;
}

.chat-image {
	display: inline-block;
	vertical-align: top;
	max-width: 180px;
	max-height: 240px;
	width: 100%;
	border-radius: 0.75rem;
	object-fit: cover;
}

.chat-bubble {
	max-width: 80%;
	border-radius: 0.5rem;
	font-size: 0.95rem;
	padding: 0.5rem 0.75rem;
	display: inline-block;
}

.text-end .chat-bubble {
	background-color: #0d6efd;
	color: white;
}
.text-start .chat-bubble {
	background-color: #f1f1f1;
	color: black;
	border: 1px solid #ddd;
}

#chatArea::-webkit-scrollbar {
	width: 6px;
}

#chatArea::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}
