/* layout.html의 공통CSS */
html, body {
    height: 100%;
    margin: 0;
}
#wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    margin-top: auto;
}
